:root {
    --color-primary: #8E2424;
    --color-secondary: #667085;
    --color-white: #fff;
    --color-gray: #101828;
    --font-family: "Inter", sans-serif;
    --font-size-default: 1rem;
    --font-size-title: 3rem;
    --font-size-paragraph: 1.25rem; 
    --font-regular: 400;
    --font-bold: 600;
    --font-spacing-default: 1.25rem;
    --font-spacing-header: 3rem;
    --button-height: 44px;
    --button-width: 112px;
    --border-radius: 8px;
}

/* Reset e configurações globais */
*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    list-style-type: none;
    font-family: var(--font-family);
}

/* Header */
#header-container {
    background-color: var(--color-white);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem;
}

#navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
}

#navbar-menu {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 2.5rem;
}

.menu-link a {
    color: var(--color-secondary);
    font-size: var(--font-size-default);
    font-weight: 500;
    line-height: 1.5rem;
}

/* Botões */
.button {
    width: var(--button-width);
    height: var(--button-height);
    font-size: var(--font-size-default);
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.button-login {
    background-color: var(--color-white);
    color: var(--color-secondary);
}

.button-sign {
    background-color: var(--color-primary);
    color: var(--color-white);
}

#heading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 96px;
    gap: 24px;
}

.labels-text{
    color: var(--color-primary);
    font-size: var(--font-size-default);
    font-family: var(--font-family);
    font-weight: 600;
    line-height:1.5rem ;
    text-align: center;
}

.display-text{
    font-size: var(--font-size-title);
    color: var(--color-gray);
    font-family: var(--font-family);
    font-weight: var(--font-bold);
    line-height:3.75rem;
    text-align: center;
}

.paragraph{
    color: var(--color-secondary);
    font-size: var(--font-size-paragraph);
    font-weight: var(--font-regular);
    font-family: var(--font-family);
    text-align: center;
    line-height: 30px;
}


/* Responsividade */
@media (max-width: 768px) {
    #navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    #navbar-menu {
        flex-direction: column;
        gap: 1rem;
    }

    #button-container {
        margin-top: 1rem;
    }
}