:root {
  --color-primary: #8e2424;
  --color-secondary: #667085;
  --color-white: #fff;
  --color-gray: #101828;
  --color-badge: #f8e9e9;
  --font-family: "Inter", sans-serif;
  --font-size-default: 1rem;
  --font-size-title: 3rem;
  --font-size-paragraph: 1.25rem;
  --font-regular: 400;
  --font-bold: 600;
  --font-spacing-default: 1.25rem;
  --font-spacing-header: 3rem;
  --button-height: 44px;
  --button-width: 112px;
  --border-radius: 8px;
}

/* Reset e configurações globais */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  list-style-type: none;
  font-family: var(--font-family);
}

#main-container {
  max-width: 1440px; 
  width: 100%; 
  margin: 0 auto; 
  padding: 0 1rem; 
}

/* Header */
#header-container {
  background-color: var(--color-white);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
}

#navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
}

#navbar-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 2.5rem;
}

.menu-link a {
  color: var(--color-secondary);
  font-size: var(--font-size-default);
  font-weight: 500;
  line-height: 1.5rem;
}

/* Botões */
.button {
  width: var(--button-width);
  height: var(--button-height);
  font-size: var(--font-size-default);
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.button-login {
  background-color: var(--color-white);
  color: var(--color-secondary);
}

.button-sign {
  background-color: var(--color-primary);
  color: var(--color-white);
}

#heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 96px;
  gap: 24px;
}

.labels-text {
  color: var(--color-primary);
  font-size: var(--font-size-default);
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
}

.display-text {
  font-size: var(--font-size-title);
  color: var(--color-gray);
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  line-height: 3.75rem;
  text-align: center;
}

.paragraph {
  color: var(--color-secondary);
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-regular);
  font-family: var(--font-family);
  text-align: center;
  line-height: 30px;
}

.section-container {
  display: flex;
  gap: 64px;
  padding: 32px;
  justify-content: center;

  align-content: center;
}

.info-card {
  gap: 20px;
  padding: 16px;
  width: 280px;
}

.display-xl {
  color: var(--color-primary);
  font-size: var(--font-size-title);
}

.info-subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 8px;
  font-family: var(--font-family);
}

.info-description {
  font-size: var(--font-size-default);
  color: var(--color-secondary);
  font-weight: var(--font-regular);
  line-height: 24px;
}

.small-text {
  background-color: var(--color-badge);
  width: 128px;
  height: 28px;
  text-align: center;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  font-size: 14px;
  font-family: var(--font-family);
}

.job-board {
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 16px;
  width: 1280px;
}

.job-card{
  width: 768px;
  gap: 24px;
  padding: 24px 24px 28px 24px;
}

.job-details{
  width: 768px;
  background-color: var(--color-white);
  border-width: 1px;
  border-style: solid;
  border-color: #eaecf0;
  margin-top: 24px;
  border-radius: 16px;
  padding: 24px 24px 28px 24px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  gap: 16px;
}

.job-info-container {
  display: flex;
  flex-direction: column; 
  gap: 8px; 
  flex: 1; 
}

.job-category{
  font-size: 20px;
  font-weight: 500;
  color: var(--color-gray);
  font-family: var(--font-family);
}

.job-title{
  font-size: 18px;
  font-weight: 500;
  color: var(--color-gray);
  line-height: 28px;
  margin-bottom: 8px;
}

.job-info{
  color: var(--color-secondary);
  font-size: var(--font-size-default);
  font-family: var(--font-family);
  flex: 1;
}

#section-comments{
  background-color: var(--color-badge);
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center; 
  gap: 32px; 
}

.display-md{
  font-size: 36px;
  font-weight: 500;
  color: var(--color-gray);
  line-height: 44px;
  font-family: var(--font-family);
  text-align: center;  
}


.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 16px;

}

.profile-image {
    width: 56px; 
    height: 56px; 
    border-radius: 50%; 
    object-fit: cover; 
}

.profile-caption {
    margin-top: 8px;
    font-size: 14px;
    color: var(--color-secondary);
    font-family: var(--font-family);
}

#footer-container{
  padding: 96px 0 96px 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #f9fafb;
  color: var(--color-white);
  text-align: center;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.newsletter-form input {
  padding: 0.5rem;
  width: 360px;
  height: 44px;
  border: 0.5px solid var(--color-secondary);
  border-radius: var(--border-radius);
  font-size: 1rem;
}

.newsletter-form button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}

.newsletter-form button:hover {
  background-color: darken(var(--color-primary), 10%);
}

.footer-copyright {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: var(--color-secondary);
}

/* Responsividade */
@media (max-width: 768px) {
  #navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  #navbar-menu {
    flex-direction: column;
    gap: 1rem;
  }

  #button-container {
    margin-top: 1rem;
  }
}
